body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1{
  font-weight: 900;
  font-size: 3rem;
}

h2, h3, h4, h5, h6{
  font-weight: 700;
}
p{
  color: #8f8f8f;
}

.section-heading{
  font-size: 2rem; 
}

.container-fluid{
  padding: 15% 15%;
}

/* Navbar Section */
.navbar{
  padding: 0 0 4.5rem;
}

.logo{
  font-size: 2.5rem;
  font-weight: 900;
}

.nav-item{
  padding: 0 15px;
}

.nav-link{
  font-size: 1.2rem;
  color: #FFF4F6;
}

/* Top Section */
#top{
  background-color: #271F26;
  color: #FFF4F6;
}

#top h1{
  padding: 2rem 0 2rem;
}

/* Web Design */
#web-design{
  background-color: #D2BABF;
}
/* Graphic Design */
#graphic-design{
  background-color: #FFDBE3;
}
/* Contact Me */
#contact-me{
  
}
/* footer */ 
#footer{
  background-color: #271F26;
  color: #FFF4F6;
}



/* 
body{
  margin: 0px;  
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.25rem;
}

h2{
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
  font-size: 2rem;
  line-height: 2;
}
p{
  margin: 0;
  line-height: 2;
}

.top{
  background-color: #271F26;
  color: #FFF4F6;
  font-weight: 700;
  padding: 100px 200px 200px 200px;
}

.navbar{
  background-color: #271F26;
  display: flex;
  justify-content: space-between;
}

.navbar a{
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  padding: 20px;
  background-color: #271F26;
  color: #FFF4F6;
}
.navbar a:hover{
  background-color: #4E4349;
}

.about-me{  
  background-color: #FEDBE3;
  color: #362D33;
  padding: 200px; 
}

.vision{  
  background-color: #FFF4F6;
  color: #4E4349;
  padding: 200px;
}

.web-design{  
  background-color: #A08988;
  padding: 200px;
  color: #270716;
  text-align: left;
}

.web-design table{
  font-size: 1rem;
  text-align: center;
}

.web-design th:nth-child(1), td:nth-child(1){
  width: 20%;
  text-align: left;
}

.web-design th:nth-child(2), th:nth-child(3){
  width: 40%
}

.web-design th{
  font-size: 1.25rem;
}

.web-design th, td{
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

.social-media{  
  background-color: #44363E;
  color: #E9D4D9;
  padding: 200px;
}

.contact-me{  
  background-color: #271F26;
  text-align: left;
  color: #FFF4F6;
  padding: 200px 400px;
}

.contact-me form{
  font-size: 1.25rem;
  line-height: 2;
}

.contact-me input{
  width: 100%;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.contact-me label{
  padding-top: 20px; 
  display: inline-block;
}
*/