body{
  margin: 0px;  
}
div{
  text-align: center;
  margin: 0;
  padding: 10px;
  background-color: #fadbdb;
  color: #621940;
}
.mountain{
  display: flex;
  justify-content: center;
  border-radius: 50%;
  opacity: 0.5;
}
